/** Site-wide styles shared across all pages
 ** Copyright 2013, Erik Ralston */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after {
        content: "";
        content: none;
    }

    q:before, q:after {
        content: "";
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Typography */
body {
    font-family: "Abel", "arial", sans-serif;
    font-size: 16px;
}

section, footer {
    margin-top: 1em;
}

h1 {
    font-size: 2.85em;
    margin: 0;
    padding: 0.25em 0 0 0;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.25)
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
}

    h2.subtitle {
        font-family: "Abel", "arial", sans-serif;
        font-size: 1.5em;
        margin: 0;
        padding: 0.25em 0 0.5em 0;
    }

h3 {
    font-size: 1.25em;
    margin-top: 1.5em;
}

h4 {
    font-size: 1.1em;
    margin-top: 1.5em;
}

p {
    margin-top: 1em;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, .logo {
    font-family: "Aldrich", "arial", sans-serif;
}

/* Grid */

header, footer, section {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/* Visual Flair */
ol, ul {
    list-style: none;
}

li {
    margin: 0.5em 0;
}

body {
    color: #f3f3f8;
    background-color: #121214;
}

.header-blanket {
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#262626), to(#121214));
    background: -moz-linear-gradient(top, #262626 0%, #121214 100%);
    height: 150px;
    z-index: -1;
}

a {
    color: #78a633;
    text-decoration: none;
}

    a:visited {
        color: #658C2B;
    }

    a:hover {
        color: #8ABF3B;
    }

.header-wrapper {
    background-image: url("/Content/Images/txture.png");
    background-color: black;
    border-bottom: 2px solid #8b8c8c;
}

header, .header-wrapper {
    color: #f3f3f8;
}

footer {
    color: #8b8c8c;
    border-top: 1px solid #8b8c8c;
    margin-top: 2em;
}

    footer h2 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

.brand {
    font-family: "Aldrich", "arial", sans-serif;
    color: #f3f3f8 !important;
    text-decoration: none;
}

.unseen {
    position: absolute;
    top: -9999em;
}

.clear {
    clear: both;
}

/* Bootstrap changes */
.row {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align:center;
}

.hero-unit {
    background-image: url("/Content/Images/txture.png");
    background-color: #121214;
    margin-bottom:0;
    padding-bottom: 20px;
    border-radius: 0;
    box-shadow: 0 0 4px black inset;
}

    .hero-unit h1 {
        font-size: 2em;
    }

    .hero-unit h3 {
        margin-top: 0.25em;
    }

    .hero-unit h4 {
        font-family: "Abel", "arial", sans-serif;
        margin-top:0.25em;
    }

    .hero-unit p {
        margin-top: 0;
    }

.quick-login img {
    margin-top:0.5em;
    float:right;
}

.top-spacer {
    height: 2.5em;
}

.navbar {
    border-bottom: 1px solid #8b8c8c;
}
