<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="SteamApiKey" value="CF9A7722D2B3BF4AAE1437C6D5FED194"/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
