@{
    ViewBag.Title = "About - Got That Game? - A simple way to compare Steam game collections";
}

<section>
    <div class='col-half'>
        <h2>What is This?</h2>
        <p>A free tool for comparing game collections with your <a href="http://store.steampowered.com/">Steam</a> friends</p>
        <h2>Who Made It?</h2>
        <p>Just some gamer with some spare time and a desire to make organizing LAN parties easier (I know, I still have those - I'm so ancient)</p>
        <h2>Why Steam?</h2>
        <p>Because most of my games are on Steam. EA Origin has, thus far, not been kind enough to create an API for accessing similar information from their service. Get on it, guys!</p>
    </div>
    <div class='col-half'>
        <h2>Is It Private?</h2>
        <p>Got That Game does not store your Steam credentials in any way. That would violate the <a href="http://steamcommunity.com/dev/apiterms">Steam API Terms of Service</a> which need to be followed if we all want to keep comparing game collections.</p>
        <h2>Will it spam me?</h2>
        <p>No. This tool does not capture any personal information. In fact, most of the information is gathered from the browser because passing it through the hosted service would increase costs of hosting it.</p>
    </div>
</section>
