@{
    ViewBag.Title = "";
}

@section head {
    <style>
        .quick-login {
            display: none;
        }

        .ambiguity-help {
            display: none;
        }
    </style>
    @Html.Partial("_AppHead")

}

<input type="hidden" id="username" value="@ViewBag.SteamId" />
<div class="top-spacer"></div>
@Html.Partial("_AppBody")

@section bodyBottom {
    @Html.Partial("_AppBodyBottom")

    <script type="text/javascript">
        // Kick it off on document ready
        $(loadCurrentPlayerBySteamId);
    </script>
}