@{
    ViewBag.Title = "Got That Game?";
}

@*HTML content for this page*@
<section class='twoway'>
    <div class="wrapper">
        <label>Username:</label>
        <input type="text" id="username" />
        <input type="button" id="connect" value="Connect to Steam" />
    </div>
    <div class='wrapper'>
        <h2>Discover What to Play</h2>
        <p>Connect to your <a href="http://steampowered.com">Steam</a> account to compare games with your friends. Login to get started!</p>
    </div>
</section>
<section id="currentPlayerInfo" class='twoway'>
</section>
<section class="main-app-window twoway">
    <div id="_friendList" class="wrapper friend-list">
    </div>
    <div id="_gameList" class="wrapper game-list">
    </div>
</section>

@*HTML Templates used by Steam.js*@
<script id="_currentPlayerProfileLoadingTemplate" type="text/html">
    <div class="loading-player-wrapper">
        <span>Searching for Steam user {{Name}}...</span>
        <img src="/Content/Images/ajax-loader.gif" alt="Loading..." class="loader-image loading" />
    </div>
</script>
<script id="_currentPlayerProfileTemplate" type="text/html">
    <div class="current-player-wrapper">
        <h2><a href="{{ProfileUrl}}" target="_blank">{{Name}}</a></h2>
        <img src="{{AvatarLarge}}" />
    </div>
</script>
<script id="_friendItemTemplate" type="text/html">
    <div class="friend-list-item" data-id="{{SteamId}}">
        <img src="{{AvatarSmall}}" alt="{{Name}}" class="thumbnail" />
        <span class="friend-name"><a href="{{ProfileUrl}}" target="_blank">{{Name}}</a></span>
        <img src="/Content/Images/ajax-loader.gif" alt="Loading..." class="loader-image" />
    </div>
</script>
<script id="_gameItemTemplate" type="text/html">
    <div class="game-list-item" data-count="{{Count}}" data-name="{{Name}}">
        <a href="{{StoreUrl}}" target="_blank">
            <img src="{{ImageUrl}}" alt="{{Name}}" class="thumbnail" /></a>
        <span class="game-name"><a href="{{StoreUrl}}" target="_blank">{{Name}}</a></span>
        <span class="game-count">{{Count}}</span>
    </div>
</script>

@*Script files for this page*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.tinysort.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js" type="text/javascript"></script>
<script>
    _.templateSettings = {
        interpolate: /\{\{(.+?)\}\}/g
    };
</script>
<script src="~/Scripts/Steam.js" type="text/javascript"></script>
