@{
    ViewBag.Title = "Got That Game?";
}

<section class='twoway'>
    <div class='wrapper'>
        <h2>Discover What to Play</h2>
        <p>Connect to your <a href="http://steampowered.com">Steam</a> account to compare games with your friends. Login to get started!</p>
    </div>
    <div class='wrapper'>
        <noscript>You Must Enable JavaScript to Use This Site!</noscript>
        <div class='steam-login-button-wrapper'>
            <div class='steam-login-button'></div>
            <div class='steam-login-button-glow'></div>
        </div>
    </div>
</section>
