@using System.Web.Optimization

@{
    ViewBag.Title = "Got That Game? - A simple way to compare Steam game collections";
}

@section head {
    <link rel="stylesheet" href="~/Content/Fonts/fontawesome.css" />
}

@*HTML content for this page*@
<section>
    <div class="col-half">
        <h2>Steam Username</h2>
        <input type="text" id="username" placeholder="Steam Username" />
    </div>
    <div class='col-half'>
        <h2>What Should We Play?</h2>
        <p>Enter your <a href="http://steampowered.com">Steam</a> username and you will be able to view your game collection and easily compare it with friends</p>
        <p>It's a fast way to find what you can play, right now!</p>
    </div>
</section>
<section id="currentPlayerInfo">
</section>
<section class="main-app-window" style="display: none">
    <div class="col-half">
        <h2>Friends</h2>
        <div id="_friendList" class="friend-list">
        </div>
    </div>
    <div class="col-half">
        <h2>Games</h2>
        <div id="_gameList" class="game-list">
        </div>
    </div>
</section>

@*HTML Templates used by Steam.js*@
<script id="_currentPlayerProfileLoadingTemplate" type="text/html">
    <div class="loading-player-wrapper">
        <span>Searching for Steam user {{Name}}...</span>
        <img src="/Content/Images/ajax-loader.gif" alt="Loading..." class="loader-image loading" />
    </div>
</script>
<script id="_currentPlayerProfileTemplate" type="text/html">
    <h2>Your Profile</h2>
    <div class="current-player-wrapper">
        <span class="current-player-name"><a href="{{ProfileUrl}}" target="_blank">{{Name}}</a></span>
        <img src="{{AvatarLarge}}" />
        <i class="icon-refresh"></i>
    </div>
</script>
<script id="_friendItemTemplate" type="text/html">
    <div class="friend-list-item" data-id="{{SteamId}}">
        <img src="{{AvatarSmall}}" alt="{{Name}}" class="thumbnail" />
        <span class="friend-name"><a href="{{ProfileUrl}}" target="_blank">{{Name}}</a></span>
        <div class="friend-refresh icon-refresh"></div>
        <div class="friend-loading icon-spinner"></div>
        <div class="friend-add icon-plus-sign"></div>
        <div class="friend-added icon-ok-sign"></div>
    </div>
</script>
<script id="_gameItemTemplate" type="text/html">
    <div class="game-list-item" data-count="{{Count}}" data-name="{{Name}}">
        <a href="{{StoreUrl}}" target="_blank">
            <img src="{{ImageUrl}}" alt="{{Name}}" class="thumbnail" /></a>
        <span class="game-name"><a href="{{StoreUrl}}" target="_blank">{{Name}}</a></span>
        <span class="game-count">{{Count}}/{{Total}}</span>
    </div>
</script>

@*Script files for this page*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js" type="text/javascript"></script>
<script>
    _.templateSettings = {
        interpolate: /\{\{(.+?)\}\}/g
    };
</script>
@Scripts.Render("~/Scripts/steam")