@{
    ViewBag.Title = "";
}

@section head {
    @Html.Partial("_AppHead")
}

@*HTML content for this page*@
<section>
    <div class='col-half'>
        <h2>What Should We Play?</h2>
        <p>Ever find yourself struggling to choose what to play with your friends? Got That Game will help instantly find the games you have in common.</p>
    </div>
    <div class='col-half'>
        <h2>How Does It Work?</h2>
        <p>Browse by <a href="http://steampowered.com">Steam</a> username or login with your Steam ID and you will be able to view your game collection and easily compare it with friends.</p>
    </div>
</section>
<section>
    <div class="col-half">
        <h2>Browse By Username</h2>
        <input type="text" id="username" placeholder="Steam Username" />
    </div>
    <div class="col-half">
        <h2>Login With Steam</h2>
        <a href="/Home/Authenticate" class="steam-login-button ">
            <img src="~/Content/Images/sits_large_border.png" class="" width="118" height="51" alt="Login With Steam" />
        </a>
    </div>
</section>
@Html.Partial("_AppBody")

@section bodyBottom {
    @Html.Partial("_AppBodyBottom")

    <script type="text/javascript">
        // Kick it off on document ready
        $(function () {
            // events
            var debouncedLoadCurrentPlayer = _.debounce(loadCurrentPlayerByFriendlyName, 500);
            $("#username").keyup(debouncedLoadCurrentPlayer);

            // kick off in the event of carried over value (like in firefox reload)
            loadCurrentPlayerByFriendlyName();
        });
    </script>
}