@{
    ViewBag.Title = "";
}

@section head {
    @Html.Partial("_AppHead")
}

@*HTML content for this page*@
<div class="hero-unit">
    <div class="row">
        <div class="span6">
            <h1>What Can We Play?</h1>
            <p>
                Instantly find the games you have in common with your friends.
            </p>
            <h1 style="margin-top: 0.75em">How Does It Work?</h1>
            <p>
                Enter your <a href="http://steampowered.com">Steam</a> username or login with your Steam ID to view your game collecton and then click on friends to compare games
            </p>
        </div>
        <div class="span4 center">
            <h4>Enter Your Username</h4>
            <input type="text" id="username" class="logo-glow" placeholder="Steam Username" />
            <h3>&mdash; Or &mdash; </h3>
            <h4>Login with Your Steam ID</h4>
            <a href="/Home/Authenticate" class="steam-login-button ">
                <img src="~/Content/Images/sits_large_border.png" class="logo-glow" width="118" height="51" alt="Login With Steam" />
            </a>
        </div>
        <div class="span2">
            <object id="_logoSvg" type="image/svg+xml" data="/Content/Images/gtglogo.svg"></object>
        </div>
    </div>
</div>
<div class='header-blanket'></div>
@Html.Partial("_AppBody")

@section bodyBottom {
    @Html.Partial("_AppBodyBottom")

    <script type="text/javascript">
        // Kick it off on document ready
        $(function () {
            // events
            var debouncedLoadCurrentPlayer = _.debounce(loadCurrentPlayerByFriendlyName, 500);
            $("#username").keyup(debouncedLoadCurrentPlayer);

            // kick off in the event of carried over value (like in firefox reload)
            loadCurrentPlayerByFriendlyName();
        });
    </script>
}