@{
    ViewBag.Title = "Support - Got That Game? - A simple way to compare Steam game collections";
}

<section class='twoway'>
    <div class='wrapper'>
        <h2>It's Not Working!</h2>
        <p>The Steam Web API is limited to only public information. If you're having trouble, try setting your <a href="https://support.steampowered.com/kb_article.php?ref=4113-YUDH-6401">profile setting to public</a> (have your friend try it as well).</p>
        <h2>You're Good Enough</h2>
        <p>You're Smart Enough, And Gosh Darn It, People Like You. So What Are You Doing Here?</p>
        <p>If you have questions, comments, or concerns, please contact <a href="mailto:support@GotThatGame.com">Support@GotThatGame.Com</a></p>
    </div>
</section>
