@{
    ViewBag.Title = "Support ☆ ";
}

<div class="top-spacer"></div>
<div class='row'>
    <div class='span6'>
        <h2>It's Not Working!</h2>
        <p>If you're entering your username and it's giving you the wrong person, then please try logging in. Browsing by username uses the "Vanity URL", which can be changed by users resulting in unpredictable results.</p>
        <p>The Steam Web API is limited to only public information. If you're having trouble, try setting your <a href="https://support.steampowered.com/kb_article.php?ref=4113-YUDH-6401">profile setting to public</a> (have your friend try it as well).</p>

    </div>
    <div class="span6">
        <h2>It's Still Not Working</h2>
        <p>If it's still not working or have questions, comments, or concerns, please contact <a href="mailto:support@GotThatGame.com">Support@GotThatGame.Com</a></p>
    </div>
</div>
